<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumah Jajan</title>
</head>

<body>
<a href="#mainContent" class="skip-link">Menuju ke Konten</a>
<header>
    <button id="menu" class="header_menu" aria-label="navigation-menu">☰</button>

    <nav id="drawer" class="navbar">
        <ul class="navbar_list">
            <a class="brand" href="#">Rumah Jajan</a>
                <div class="navbar_center">
                    <li class="navbar_item"><a href="/">Home</a></li>
                    <li class="navbar_item"><a href="#">Favorite</a></li>
                    <li class="navbar_item"><a href="https://github.com/AanSumanto" target="_blank">About Us</a></li>
                </div>              
        </ul>
    </nav>
    
</header>

<div class="hero">
    <div class="hero_inner">
        <h1 class="hero_title">Rumah Inspirasi Untuk Anda Mencari Tempat Jajan</h1>        
    </div>
</div>

<main id="mainContent">
    <section class="content">
        <h2>Explore Tempat Jajan</h2>
        <div class="latest">
                <div id="listRestaurant"></div> 
        </div>
        <br>
    </section>
</main>


<footer>
    <p>All trademarks are properties of <i>RumahJajan</i> 2021. &copy RumahJajan &TRADE; All rights reserved.</p>
</footer>
</body>
</html>
