@font-face {
    font-family: "LovelyHome";
    src: url("../font/LovelyHome.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
    font-family: 'Merriweather', sans-serif;
    background-color: #F98404;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
  
  /*
    AppBar
  */

header .app-bar {
    grid-template-columns: auto 1fr auto;
}

.app-bar {
    padding: 8px 16px;
    background-color: #F7FD04;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
  
.app-bar .app-bar_menu {
    display: flex;
    align-items: center;
}
  
.app-bar .app-bar_menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}
  
.app-bar .app-bar_brand {
    display: grid;
    align-items: center;
}

.app-bar .app-bar_search-bar {
    display: inline-flex;
}


.app-bar .app-bar_brand h1 {
    color: #db0000;
    font-family: LovelyHome;
    font-size: 22px;
    user-select: none;
}
  
.app-bar .app-bar_navbar {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: #F7FD04;
    overflow: hidden;
}
  
.app-bar .app-bar_navbar.open {
    left: 0;
}
  
.app-bar .app-bar_navbar ul li a {
    display: inline-block;
    text-decoration: none;
    align-content: center;
    color: black;
    padding: 15px;
    margin-bottom: 5px;
    width: 100%;
}

/* main */

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
}

.content .content_heading {
    font-weight: normal;
    text-align: center;

}


/* Skip to Content  */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: 0;
 }


/* Jumbotron */

.hero {
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("/src/public/images/heros/hero-image_3.jpg");
    background-position: center;
    background-color: #edffec;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

/* Restaurant */

.restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;

}

/* Reataurant  */
  
  .restaurant {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
  
  .restaurant_poster {
    width: 100%;
    max-width: 800px;
  }
  
  .restaurant .restaurant_info h4 {
    margin: 8px 0;
  }

/* restaurant Item */
  
  .restaurant-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .restaurant-item__header {
    position: relative;
  }
  
  .restaurant-item .restaurant-item_header .restaurant-item_header_poster {
    width: 100%;
  }
  
  .restaurant-item .restaurant-item_header .restaurant-item_header_rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
  }
  
  .restaurant-item .restaurant-item_header .restaurant-item_header_rating .restaurant-item_header_rating_score {
    margin-left: 10px;
  }
  
  .restaurant-item .restaurant-item_content {
    padding: 16px;
    background-color: #F9B208;
  }
  
  .restaurant-item .restaurant-item_content h3 {
    margin: 0 0 10px 0;
  }
  
  .restaurant-item .restaurant-item_content h3 a {
    color: #db0000;
    text-decoration: none;
    padding: 10px;
  }
  
  .restaurant-item .restaurant-item_content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

/* Like  */
.favorite {
    font-size: 18px;
    position: fixed;
    bottom: 85px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Restaurant Menu */

table {
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
    border: 1px solid #FC5404;
}
            
th, td {
    text-align: left;
    padding: 8px;
}
            
tr,td:nth-child(even){background-color: #FC5404}


/* Footer */

footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 14px 16px;
    position: sticky;
    background-color: #FC5404;
}

footer p {
    font-size: 15px;
    color: rgb(156, 7, 7);
}
 